Repository kubernetes/node-problem-detector, pull requests merged in 2019-07, with the labels that each got.

#308 Support waiting for kube-apiserver to be ready with timout during NPD startup
  cmd/options/options.go
  pkg/exporters/k8sexporter/k8s_exporter.go
  pkg/exporters/k8sexporter/problemclient/fake_problem_client.go
  pkg/exporters/k8sexporter/problemclient/problem_client.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#300 Report metrics from system-log-monitor
  README.md
  config/docker-monitor.json
  config/kernel-monitor.json
  config/systemd-monitor.json
  pkg/problemmetrics/problem_metrics.go
  pkg/problemmetrics/problem_metrics_stub.go
  pkg/problemmetrics/problem_metrics_test.go
  pkg/systemlogmonitor/README.md
  pkg/systemlogmonitor/config.go
  pkg/systemlogmonitor/log_monitor.go
  pkg/systemlogmonitor/log_monitor_test.go
  pkg/systemlogmonitor/types/types.go
  pkg/systemstatsmonitor/disk_collector.go
  pkg/systemstatsmonitor/host_collector.go
  pkg/util/metrics/fakes.go
  pkg/util/metrics/fakes_test.go
  pkg/util/metrics/helpers.go
  test/build.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#312 Cherry pick #308 to v0.6: Support waiting for kube-apiserver to be ready with timout during NPD startup
  cmd/node_problem_detector.go
  cmd/options/options.go
  pkg/problemclient/fake_problem_client.go
  pkg/problemclient/problem_client.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#315 Report metrics from custom-plugin-monitor
  config/custom-plugin-monitor.json
  config/kernel-monitor-counter.json
  config/network-problem-monitor.json
  config/systemd-monitor-counter.json
  pkg/custompluginmonitor/custom_plugin_monitor.go
  pkg/custompluginmonitor/types/config.go
  pkg/custompluginmonitor/types/config_test.go
  pkg/systemlogmonitor/log_monitor.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L
