Repository kubernetes/node-problem-detector, pull requests merged in 2020-12, with the labels that each got.

#492 add code to retrieve kernel modules in a linux system from /proc/modules
  pkg/util/metrics/system/common.go
  pkg/util/metrics/system/module_stats.go
  pkg/util/metrics/system/module_stats_test.go
  pkg/util/metrics/system/testdata/modules_cos.txt
  pkg/util/metrics/system/testdata/modules_ubuntu.txt
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#502 Introduce Windows build of Node Problem Detector
  Makefile
  pkg/systemlogmonitor/logwatchers/filelog/log_watcher.go
  pkg/systemlogmonitor/logwatchers/filelog/log_watcher_linux.go
  pkg/systemlogmonitor/logwatchers/filelog/log_watcher_windows.go
  pkg/systemlogmonitor/logwatchers/kmsg/log_watcher_linux.go
  pkg/systemlogmonitor/logwatchers/kmsg/log_watcher_linux_test.go
  pkg/systemlogmonitor/logwatchers/kmsg/log_watcher_windows.go
  pkg/util/helpers.go
  pkg/util/helpers_linux.go
  pkg/util/helpers_windows.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#493 add code to retrieve kernel command line parameters
  pkg/util/metrics/system/cmdline_args.go
  pkg/util/metrics/system/cmdline_args_test.go
  pkg/util/metrics/system/common.go
  pkg/util/metrics/system/testdata/cmdline_args_key_cos.txt
  pkg/util/metrics/system/testdata/cmdline_args_sample.txt
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#503 changing the label names as per the standards
  pkg/systemstatsmonitor/labels.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS
