Repository kubernetes/node-problem-detector, pull requests merged in 2021-04, with the labels that each got.

#541 Enable NPD to run as a Windows Service.
  .gitignore
  README.md
  cmd/nodeproblemdetector/node_problem_detector.go
  cmd/nodeproblemdetector/node_problem_detector_linux.go
  cmd/nodeproblemdetector/node_problem_detector_test.go
  cmd/nodeproblemdetector/node_problem_detector_windows.go
  cmd/nodeproblemdetector/node_problem_detector_windows_test.go
  cmd/options/options.go
  go.mod
  pkg/problemdetector/problem_detector.go
  pkg/problemdetector/problem_detector_test.go
  vendor/golang.org/x/sys/windows/registry/key.go
  vendor/golang.org/x/sys/windows/registry/mksyscall.go
  vendor/golang.org/x/sys/windows/registry/syscall.go
  vendor/golang.org/x/sys/windows/registry/value.go
  vendor/golang.org/x/sys/windows/registry/zsyscall_windows.go
  vendor/golang.org/x/sys/windows/svc/debug/log.go
  vendor/golang.org/x/sys/windows/svc/debug/service.go
  vendor/golang.org/x/sys/windows/svc/event.go
  vendor/golang.org/x/sys/windows/svc/eventlog/install.go
  vendor/golang.org/x/sys/windows/svc/eventlog/log.go
  vendor/golang.org/x/sys/windows/svc/go12.c
  vendor/golang.org/x/sys/windows/svc/go12.go
  vendor/golang.org/x/sys/windows/svc/go13.go
  vendor/golang.org/x/sys/windows/svc/mgr/config.go
  vendor/golang.org/x/sys/windows/svc/mgr/mgr.go
  vendor/golang.org/x/sys/windows/svc/mgr/recovery.go
  vendor/golang.org/x/sys/windows/svc/mgr/service.go
  vendor/golang.org/x/sys/windows/svc/security.go
  vendor/golang.org/x/sys/windows/svc/service.go
  vendor/golang.org/x/sys/windows/svc/sys_386.s
  vendor/golang.org/x/sys/windows/svc/sys_amd64.s
  vendor/golang.org/x/sys/windows/svc/sys_arm.s
  vendor/modules.txt
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, sig/node, sig/windows, size/XXL

#542 Update windows containerd config file to run without errors
  README.md
  config/windows-containerd-monitor-filelog.json
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/windows, size/S

#549 Update travis ubuntu version to xenial, and golang to 1.16.
  .travis.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#544 Separate linux/windows health checker files. Build health checker plugin for Windows
  cmd/healthchecker/health_checker.go
  cmd/healthchecker/options/options.go
  cmd/healthchecker/options/options_test.go
  cmd/nodeproblemdetector/node_problem_detector_test.go
  cmd/nodeproblemdetector/node_problem_detector_windows_test.go
  config/windows-health-checker-containerd.json
  config/windows-health-checker-docker.json
  config/windows-health-checker-kubelet.json
  pkg/healthchecker/health_checker.go
  pkg/healthchecker/health_checker_linux.go
  pkg/healthchecker/health_checker_windows.go
  pkg/healthchecker/types/types.go
  pkg/healthchecker/types/types_linux.go
  pkg/healthchecker/types/types_windows.go
  pkg/util/exec_windows.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, priority/important-soon, sig/windows, size/XL
