Repository kubernetes/node-problem-detector, pull requests merged in 2023-06, with the labels that each got.

#763 fix: Makefile OS conditional
  .gitignore
  Makefile
Labels: lgtm, cncf-cla: yes, size/XS, approved, ok-to-test

#767 chore: remove refs to deprecated io/ioutil
  cmd/nodeproblemdetector/node_problem_detector_test.go
  pkg/custompluginmonitor/custom_plugin_monitor.go
  pkg/custompluginmonitor/plugin/plugin.go
  pkg/exporters/k8sexporter/problemclient/configs.go
  pkg/exporters/stackdriver/stackdriver_exporter.go
  pkg/systemlogmonitor/log_monitor.go
  pkg/systemlogmonitor/logwatchers/filelog/log_watcher_test.go
  pkg/systemstatsmonitor/net_collector_test.go
  pkg/systemstatsmonitor/osfeature_collector.go
  pkg/systemstatsmonitor/system_stats_monitor.go
  pkg/util/metrics/helpers_test.go
  pkg/util/nethealth/nethealth.go
  test/e2e/lib/npd/npd.go
  test/e2e/problemmaker/makers/filesystem.go
  test/e2e/problemmaker/makers/kernel.go
Labels: lgtm, cncf-cla: yes, size/M, approved, ok-to-test

#733 optionally read node and port information from env variables for kube* services
  pkg/healthchecker/health_checker.go
  pkg/healthchecker/types/types.go
  pkg/healthchecker/types/types_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, ok-to-test

#768 chore: pkg imported more than once
  pkg/systemlogmonitor/log_monitor.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, ok-to-test

#769 Enable experimental features in docker in postsubmit jobs.
  cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#770 chore: remove refs to deprecated io/ioutil
  test/e2e/lib/ssh/lib.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, ok-to-test
